<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Gym Extreme</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'gym/style.css' %}">
<body>
<div id="header">
<div id="logo"> <a href="/"><img src="{% static 'gym/images/logo.png' %}" alt = "logo"/></a> </div>
<ul id="navbar">
<li><a href="/gym/index">Home</a></li>

<li><a href="/gym/equipment/">Facilitis</a></li>
<li><a href="/gym/show_classes/">Classes</a></li>
<li><a href="/gym/show_member/">Membership</a></li>
<li><a href="/gym/about/">About</a></li>
</ul>
</div>
</body>
</html>